@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Tiny5&display=swap');

.eng{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings:
            "wdth" 100,
            "YTLC" 500;
}
.ukr{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
