@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
}
.section {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 60px;
    gap: 30px;
}
#section1 {
    background-color: #FFC1CB;
}
#section2 {
    background-color: #272727;
    color: white;
}
