body {
    margin: 0 10%;
    font-weight: bold;
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

 figure{
     width: 180px;
     border:2px solid lightgray;
     border-radius: 10px;
     margin:0;
     padding: 15px 10px;
 }

 figure img {
     max-width: 100%;
     height: auto;
 }

 footer {
     padding: 15px 0;
 }

