* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #566f54;
    font-size: 12px;
}
h2 {
    font-size: 16px;
}
.year{
    display: flex;
    flex-wrap: wrap;
    gap:20px 0;
    padding: 20px;
    justify-content: space-around;
}
.year div {
    width: 15.5%;
    background-color: #d6e1cb;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap:10px 0;
    word-break: break-all;
}
